/* Card Styles */

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid hsl(0, 0%, 80%);
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);
    width: 100%;
    width: 300px;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 1s, color 0.8s;
    margin: 0 auto;
}

/* Hover Effects */
.Card:hover {
    background-color: #0A151C;
    border-radius: 20px;
}

.Card:hover .CardTitle, 
.Card:hover .CardContent {
    color: #fff;
}

.Card:hover .CardContent {
    display: block !important;
}

.Card:hover .CardTitle {
    position: static;
    top: 0%;
    font-size: 28px;
}

/* Card Title Styles */
.CardTitle {
    position: relative;
    top: 30%;
    width: 100%;
    color: #333;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

/* Card Content Styles */
.CardContent {
    width: 100%;
    color: #555;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .Card {
        max-width: 200px;
        height: 250px;
    }
    .CardTitle {
        font-size: 24px;
    }
    .CardContent {
        font-size: 14px;
    }
    .Card:hover .CardTitle {
        position: static;
        top: 0%;
        font-size: 20px;
    }
}
@media screen and (max-width: 480px) {
    .Card {
        max-width: 220px;
        height: 280px;
    }
    .CardTitle {
        font-size: 20px;
    }
    .CardContent {
        font-size: 12px;
        padding: 5px;
    }
    .Card:hover .CardTitle {
        position: static;
        top: 0%;
        font-size: 20px;
    }
}