#CardsCarousel {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.carousel-container {
    width: 100%;
    max-width: 1000px; /* Ajusta según tu diseño */
    overflow: hidden; /* Oculta contenido que no cabe */
    position: relative;
    margin: auto;
}

/* Fila de los items del carrusel */
.carousel-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    transition: transform 0.5s ease-in-out;
}

/* Elemento individual del carrusel */
.carousel-item {
    flex: 0 0 auto;
    max-width: 300px; /* Tamaño reducido de las tarjetas */
    height: auto; /* Altura ajustada */
}
