/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Footer */
.footer {
    font-family: "Raleway", sans-serif;
    background-color: #091014;
    color: white;
    padding: 20px 0;
    text-align: center;
    overflow-x: hidden; /* Previene que el contenido desborde horizontalmente */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center; /* Centra verticalmente los elementos */
    width: 100%;
    max-width: 1650px; /* Define un ancho máximo para el contenido */
    margin: 0 auto; /* Centra el footer horizontalmente */
    padding: 0 5%; /* Asegura que el contenido del footer no quede pegado a los bordes */
}


.footer-logo {
    width: auto;
    height: 70px;
}

/* Links */
.footer-links {
    display: flex;
    list-style: none; /* Elimina los puntos de las listas */
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

.footer-link-item {
    flex: 1; /* Allow items to grow and fill available space */
    text-align: center; /* Center text inside each item */
}

.footer-link:hover {
    color: #f0a500; /* Color de hover para los enlaces */
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer-link {
        font-size: 1rem;
    }
    }

    @media (max-width: 500px) {
    .footer-link {
        font-size: 0.7rem;
    }
}