/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
.header {
  font-family: "Raleway", sans-serif;
  background-color: #fdfdfd;
  color: #333;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.header-contents {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-title {
  margin: 0;
  font-size: 2rem;
}

.nav-item {
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* Distribute links evenly */
  align-items: center;
  gap: 1.5rem;
}


.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.8rem;
  transition: color 0.3s ease-in-out, transform 0.2s ease; /* Efectos suaves */
}

.nav-link:hover {
  color: #9b1818;
  transform: scale(1.05); /* Aumenta ligeramente al pasar el mouse */
}

.logo {
  max-width: 150px;
  max-height: 60px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .header-contents {
      align-items: center;
  }

  .logo {
      max-width: 120px;
  }

  .nav-link {
      font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .nav-link {
    font-size: 0.7rem;
  }
}