
main, body {
    max-width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.Background-Image-Home, #Servicios, #Nosotros {
    width: 100%;
    max-width: 100vw; /* Prevent exceeding the viewport width */
    overflow: hidden; /* Avoid overflow */
    flex-shrink: 0;
}

/* Home Background */
.Background-Image-Home {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('../StockSnap_H6PSN9BPGZ.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
    width: 100%;
    /* padding-top: 5%; */
    /* clip-path: inset(0 0 30vh 0); Recorta la parte inferior */
    margin-bottom: 0;
    overflow: hidden; /* Evita desbordes inesperados */
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Oscurece la imagen */
    z-index: 1;
}

/* Titles */
.HomeTitle, .HomeTitle2 {
    position: relative;
    margin: 0;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: clamp(3rem, 5vw, 6rem); /* Escalable */
    font-weight: bold;
    color: white;
    z-index: 2;
}

.HomeTitle2 {
    margin-top: 2%; /* Menor espacio entre títulos */
}