/* Estilo general */
.Nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdfdfd;
    padding: 2rem 0;;
}

#NosotrosTitleFringe {
    margin: 0;    
    background-color: #091014;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
}

#NosotrosTitle {
    font-family: "Raleway", sans-serif;
    font-size: 4rem; /* Usar rem para tamaño de fuente relativo */
    font-weight: bold;
    color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#NosotrosContent {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem; /* Usar rem para tamaño de fuente relativo */
    text-align: left;
    color: #232121;
    margin: 2rem 10vw 0rem 10vw; /* Usar vw para márgenes relativos */
    font-weight: 500;
    line-height: 1.5;
}

.counter-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 0.7rem;
    margin-bottom: 5rem;
    width: 100%;
    flex-wrap: wrap;
}

.counter-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    gap: 5px;
}

.counter-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

.counter-item h1 {
    margin: 0px;
}

.counter-value {
    font-weight: bold;
    color: #091014;
}

.counter-label {
    font-size: 1.5em; /* Usar em para tamaño de fuente relativo */
    color: #232121;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: left;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    width: auto;
    height: auto;
    color: #ccc;
}

