.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid hsl(0, 0%, 80%);
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Color del texto */
    border-radius: 20px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
    width: 400px;
    height: 400px; /* Ajuste automático en base al contenido */
    padding: 25px; /* Espaciado interno */
    box-sizing: border-box; 
    transition: background-color 1s, color 0.8s; /* Transición suave para hover */
}

.Card:hover {
    background-color: #0A151C; /* Fondo oscuro al hacer hover */
    border-radius: 20px;
}

.Card:hover .CardTitle,
.Card:hover .CardContent {
    color: #fff;
}

.Card:hover .CardContent
{
    display: block !important;
}
.Card:Hover .CardTitle {
    position: static; 
    top: 0%;
    font-size: 34px;
}


.CardTitle {
    position: relative;
    top: 30%;
    width: 100%;
    color: #333;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 50px; /* Ajusta el tamaño */
    text-align: center; /* Centra el texto */
    margin-bottom: 10px;
}

.CardContent {
    width: 100%;
    color: #555; /* Texto gris */
    font-family: "Raleway", sans-serif;
    font-size: 20px; /* Tamaño del texto */
    font-weight: normal;
    line-height: 1.5; /* Espaciado entre líneas */
    text-align: center; /* Justifica el contenido */
    padding: 10px;
}
