/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
.header {
  font-family: "Raleway", sans-serif;
  background-color: #fdfdfd;
  color: #333;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.header-title {
  margin: 0;
  margin-left: 50px;
  font-size: 2rem; /* Ajusta según el diseño */
}

.nav {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 100px; /* Espacio entre enlaces */
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-right: 95px;
  justify-content: space-evenly; /* Distribución uniforme */
}

.nav-item {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.8rem;
  transition: color 0.3s ease-in-out, transform 0.2s ease; /* Efectos suaves */
}

.nav-link:hover {
  color: #9b1818;
  transform: scale(1.05); /* Aumenta ligeramente al pasar el mouse */
}

.logo {
  max-width: 180px; /* Controla el tamaño del logo */
  max-height: 80px;
  object-fit: contain; /* Mantiene las proporciones */
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Cambia la disposición a columna */
    align-items: flex-start;
    padding: 1rem 2rem;
  }

  .header-title {
    margin-left: 0;
    font-size: 1.5rem; /* Reduce tamaño del título */
  }

  .nav-list {
    flex-direction: column; /* Cambia enlaces a columna */
    gap: 1rem;
    margin-right: 0;
  }

  .nav-item {
    font-size: 1rem; /* Reduce tamaño en pantallas pequeñas */
  }

  .nav-link {
    font-size: 1rem;
  }
}
